* {
  font-family: 'Noto Serif TC', serif; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.nav-link {
  color: wheat;
  transition: color 0.2s linear; }
  .nav-link:hover {
    color: #e9b759; }

.active {
  color: white !important; }

ul {
  margin-bottom: 0rem; }

a {
  color: unset; }
  a:hover {
    color: unset;
    text-decoration: none; }

.Banner {
  width: 100%;
  height: 30vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#card_deck {
  width: 90%;
  margin: 10px auto;
  text-align: center; }
  #card_deck .card {
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    transition: margin-top 0.4s ease-out,margin-bottom 0.4s ease-out;
    cursor: pointer; }
    #card_deck .card:hover {
      margin-top: 0px;
      margin-bottom: 1rem; }
    #card_deck .card .img_container {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #card_deck .card #img_1 {
      background-image: url(../images/cookies-cate.jpg); }
    #card_deck .card #img_2 {
      background-image: url(../images/bread-cate.jpg); }
    #card_deck .card #img_3 {
      background-image: url(../images/cake-cate.jpg); }

#Promo {
  display: grid;
  grid-template-rows: 40vw 10vw;
  grid-template-columns: 10vw 1fr 10vw;
  height: 50vw;
  background-image: url(../images/Promo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #Promo .vlr {
    writing-mode: vertical-lr; }
  #Promo #title {
    grid-column-start: 3;
    margin-top: 5rem; }
  #Promo #subtitle {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
    margin: auto 0px auto auto; }
  #Promo button {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 10px 20px;
    border: solid 2px #000;
    background-color: rgba(0, 0, 0, 0);
    margin: auto auto;
    transition: background-color 0.3s linear,color 0.3s linear;
    font-size: 2rem; }
    #Promo button span {
      letter-spacing: 10px; }
    #Promo button:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.9); }

footer .social_media_icons {
  height: 1rem;
  fill: #000; }

#about_bg {
  width: 100%;
  height: 85vh;
  background-image: url(../images/about_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#Products_bn {
  width: 100%;
  height: 50vw;
  background-image: url(../images/Products_bn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

#filter_btn {
  display: none; }

#filter > div {
  min-width: 190px; }
  #filter > div:first-child {
    background-color: #E6E6E6; }
  #filter > div:nth-child(2) .ckbox_container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-select: none; }
    #filter > div:nth-child(2) .ckbox_container label {
      margin-bottom: 0; }
    #filter > div:nth-child(2) .ckbox_container input {
      position: absolute;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 1; }
    #filter > div:nth-child(2) .ckbox_container:hover input ~ .checkmark {
      background-color: #eee; }
    #filter > div:nth-child(2) .ckbox_container input:checked ~ .checkmark {
      background-image: url(../images/check.png); }
  #filter > div:nth-child(2) .checkmark {
    position: absolute;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: grey solid 1px;
    background-image: url(../images/uncheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.1s linear; }

.P_item {
  max-width: 14.98vw; }
  .P_item .P_grid {
    width: 14.98vw;
    height: 11vw;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-rows: 1px 4vw 4vw 3vw 2px;
    grid-row-gap: 5px;
    opacity: 0;
    transition: opacity 0.2s linear; }
    .P_item .P_grid .P_title {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
    .P_item .P_grid .P_price {
      text-align: center;
      font-weight: 700;
      padding-bottom: 0.25rem;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5; }
    .P_item .P_grid .cart_add {
      width: 70%;
      height: 70%;
      align-self: center;
      justify-self: right;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }
    .P_item .P_grid .love_icon {
      width: 70%;
      height: 70%;
      align-self: center;
      justify-self: right;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4; }
    .P_item .P_grid:hover {
      opacity: 1; }
  .P_item .P_M_grid {
    display: none; }

#Item_content #Item_pic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

#Item_content .P_item {
  min-width: 204.3px;
  max-width: 14.982vw;
  min-height: 150px; }
  #Item_content .P_item .P_grid {
    min-width: 204.3px;
    width: 14.982vw;
    max-width: 300px;
    min-height: 150px;
    height: 11vw;
    max-height: 220.26432px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-rows: 1px minmax(55px, 4vw) minmax(55px, 4vw) minmax(55px, 3vw) 2px;
    grid-row-gap: 5px;
    opacity: 0;
    transition: opacity 0.2s linear;
    cursor: pointer; }
    #Item_content .P_item .P_grid .P_title {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 1.5rem; }
    #Item_content .P_item .P_grid .P_price {
      text-align: center;
      align-self: center;
      font-weight: 700;
      padding-bottom: 0.25rem;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5; }
    #Item_content .P_item .P_grid .cart_add {
      width: 70%;
      height: 70%;
      align-self: center;
      justify-self: right;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }
      #Item_content .P_item .P_grid .cart_add .cls-1 {
        transition: fill 0.2s linear; }
      #Item_content .P_item .P_grid .cart_add:hover .cls-1 {
        fill: #D0104C; }
    #Item_content .P_item .P_grid .love_icon {
      width: 70%;
      height: 70%;
      align-self: center;
      justify-self: right;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4; }
      #Item_content .P_item .P_grid .love_icon .cls-1 {
        transition: fill 0.2s linear; }
      #Item_content .P_item .P_grid .love_icon:hover .cls-1 {
        fill: #D0104C; }
    #Item_content .P_item .P_grid:hover {
      opacity: 1; }

#Cart_content {
  min-height: 60vh; }
  #Cart_content #items .item {
    height: 7vw;
    min-height: 115px;
    border-bottom: solid 1px #ccc;
    display: grid;
    grid-template-columns: minmax(153px, 10vw) minmax(91px, 1fr) 0.75fr; }
    #Cart_content #items .item img {
      height: 100%; }
    #Cart_content #items .item .item_info {
      display: grid;
      grid-template-rows: 3rem 2rem 1fr 2rem; }
      #Cart_content #items .item .item_info :first-child {
        grid-row-start: 1; }
      #Cart_content #items .item .item_info :nth-child(2) {
        grid-row-start: 2; }
      #Cart_content #items .item .item_info :last-child {
        grid-row-start: 4; }
    #Cart_content #items .item :last-child {
      align-self: center; }

@media screen and (max-width: 992px) {
  .display-md-none {
    display: none; }
  .P_item {
    max-width: 100vw;
    max-height: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .P_item .P_grid {
      width: 40.86vw;
      height: 30vw; }
      .P_item .P_grid:hover {
        opacity: 0; }
    .P_item .P_M_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2rem 2rem 1fr 48px; }
      .P_item .P_M_grid .P_title {
        grid-row-start: 1;
        grid-column-start: 1; }
      .P_item .P_M_grid .P_price {
        grid-row-start: 2;
        grid-column-start: 1; }
      .P_item .P_M_grid button {
        background-color: #DDD;
        border: none;
        margin-right: 32px; }
      .P_item .P_M_grid button:nth-child(3) {
        grid-row-start: 4;
        grid-column-start: 1; }
      .P_item .P_M_grid button:last-child {
        grid-row-start: 4;
        grid-column-start: 2; } }

@media screen and (max-width: 768px) {
  .display-none {
    display: none; }
  footer hr {
    display: none; }
  footer > div:nth-child(1) {
    display: none; }
  footer > div:nth-child(3) {
    display: none; }
  #Promo {
    grid-template-rows: 10vw 20vw 20vw;
    grid-template-columns: 10vw 1fr 10vw; }
    #Promo .vlr {
      writing-mode: unset; }
    #Promo #title {
      grid-row-start: 1;
      grid-column-start: 2;
      font-size: 1.5rem;
      margin-top: 1rem;
      text-align: right; }
    #Promo #subtitle {
      grid-row-start: 2;
      grid-column-start: 2;
      margin: auto auto auto auto;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0.5rem; }
      #Promo #subtitle > h3 {
        color: white;
        font-size: 1rem;
        text-align: right;
        margin-bottom: 0px; }
    #Promo button {
      grid-row-start: 3;
      grid-column-start: 2; }
  #Products_container #filter_btn {
    display: block; }
  #Products_container .filter_off {
    overflow: hidden;
    height: 0px;
    transition: height 0.3s linear; }
  #Products_container .filter_tgl {
    height: 206px; }
  #Item_pic {
    width: 100%;
    height: 75vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #Cart_content {
    min-height: 60vh; }
    #Cart_content #items .item {
      height: 5vw;
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr; } }
